@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fun Lunch</h1>
    <img src="http://www.baltana.com/files/wallpapers-5/Pizza-HD-Desktop-Wallpaper-15280.jpg" alt="display this" width="1200" height="600"/>
    <p></p>
</div>

